{% extends 'base.html' %}
{% block content %}
<body>
    <div class="d-flex justify-content-center">
        <div id="loading-spinner" class="spinner-border text-primary" style="width: 50px; height: 50px" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <script type="text/javascript">
        setTimeout(function(){
            document.getElementById("loading-spinner").style.display = "none";
        }, 3000)
    </script>

    <div class="container-fluid" id="contents">
        {% for full_state_name, state_short in state_abbrv.items() %}
            {% if state_short == request.view_args.state %}
                <h3 class="text-primary">By State: {{ full_state_name }}</h3>
            {% endif %}
        {% endfor %}
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Street</th>
                        <th scope="col">City</th>
                        <th scope="col">State</th>
                        <th scope="col">Zip</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                            <tr>
                                <td>{{ student.id }}</td>
                                <td>{{ student.first_name }}</td>
                                <td>{{ student.last_name }}</td>
                                <td>{{ student.street }}</td>
                                <td>{{ student.city }}</td>
                                <td>{{ student.state }}</td>
                                <td>{{ student.zip }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
</body>